[Unit]
Description=Librespot (an open source Spotify client)
Wants=network-online.target
After=network-online.target sound.target

[Service]
User=qudio
WorkingDirectory=/mnt/dietpi_userdata/qudio

# DietPi network detection is not reliable as of 2021-10-31 since wlan0 seems to only be detected _after_
# network-online.target has alread been reached and therefore will not be included in the ifup check
ExecStartPre=/bin/sh -c 'until ping -c1 spotify.com; do sleep 1; done;'

# get device name, username and password
EnvironmentFile=/mnt/dietpi_userdata/qudio/qudio.ini

# backend, mixer, alsa-mixer-control and alsa-mixer-device are required for our asound.conf
# bitrate 96 kbps is enough, dithering is not required and takes a few more CPU cycles
# enable-volume-normalisation sounds helpful and does not seem to take CPU cycles
ExecStart=/opt/librespot/librespot \
    --name ${SPOTIFY_DEVICE_NAME} \
    --username ${SPOTIFY_USERNAME} \
    --password ${SPOTIFY_PASSWORD} \
    --backend alsa \
    --mixer alsa \
    --alsa-mixer-control PCM \
    --alsa-mixer-device default \
    --bitrate 96 \
    --dither none \
    --enable-volume-normalisation \
    --cache /tmp/librespot-cache \
    --onevent /mnt/dietpi_userdata/qudio/librespot_hook.sh \
    --initial-volume 50

# delay a little bit for device to become registered with Spotify (does not seem to be required anymore as of 2022-08-09)
# ExecStartPost=/bin/sleep 1

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
