[Unit]
Description=Qudio Control
Requires=spotifyd.service
After=spotifyd.service

[Service]
User=spotifyd
WorkingDirectory=/mnt/dietpi_userdata/spotifyd
ExecStart=python3 /mnt/dietpi_userdata/spotifyd/qudio-control.py
ExecStopPost=bash -c '[ "$SERVICE_RESULT" = "exit-code" ] && pkill spotifyd'
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
